
<div class="honey-wrap">

    <div class="honey-inner">

            dasdas


        <div class="tb-box">

            <div class="tb-col tb-mt">
                <span>2015.06.18    -    2015.07.18</span>
            </div>
            <div class="tb-col tb-mt">
                <label>选择平台 :</label>


                <div class="btn-group btn-selector">
                    <label class="btn " ng-model="radioModel" btn-radio="'30'" uncheckable>最近30天</label>
                    <label class="btn " ng-model="radioModel" btn-radio="'60'" uncheckable>最近30天</label>
                    <label class="btn " ng-model="radioModel" btn-radio="'90'" uncheckable>最近30天</label>
                </div>

            </div>
        </div>





        <div>

            <pretty-radio value="'one'" ng-model="myModel.radio" label="'1111'"></pretty-radio>
            <pretty-radio value="'two'" ng-model="myModel.radio" label="'2222'"></pretty-radio>
            <pretty-radio value="'three'" ng-model="myModel.radio" label="'333'"></pretty-radio>

        </div>



        <div>



        </div>


        <table class="table table-bordered table-striped table-hover ">

            <thead>
            <tr>
                <th>#</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Username</th>
            </tr>
            </thead>

            <tbody>

            <tr>
                <th scope="row">1</th>
                <td>Mark</td>
                <td>Otto</td>
                <td>@mdo</td>
            </tr>

            <tr>
                <th scope="row">2</th>
                <td>Jacob</td>
                <td>Thornton</td>
                <td>@fat</td>
            </tr>

            <tr>
                <th scope="row">3</th>
                <td>Larry</td>
                <td>the Bird</td>
                <td>@twitter</td>
            </tr>
            </tbody>
        </table>


    </div>

</div>