//图片相关引入类



.iphone-bg{
  background-image: url("../imgs/ip6.png");
  background-size: 100%  100%;
  width: (529/1.65) * 1px;
  height: (1024/1.65) * 1px;
  position: relative;
}


.logo{
  background: url("../imgs/logo@2x.png");
  background-size: 100%  100%;
  width: (496/2) * 1px;
  height: (80/2) * 1px;
}
.loginLogo{
  background:url("../imgs/loginLogo.png");
  background-size: 100%  100%;
  width: (496/2) * 1px;
  height: (80/2) * 1px;
}



