@charset "utf-8";

//字体样式
html,body{
  font-family: "Helvetica Neue",Helvetica, "微软雅黑","Microsoft YaHei",Arial, sans-serif;
}


//蓝色超链接
.bl-a{
  color: #459ae9;
  text-decoration: none;
  &:hover{
    color: #459ae9;
    text-decoration: underline;
  }
}

//灰色超链接
.gray-a{
  color:#c4c4c4;
  text-decoration: none;
  &:hover{
    color:#c4c4c4;
    text-decoration: underline;
  }
}

a{
  color: inherit;
  &:focus{
    text-decoration: none;
    color: inherit;
  }
  &:hover{
    color: inherit;
    text-decoration: none;
  }

}


//去除浏览器选择边框
.btn:focus,
.btn:active:focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn.active.focus{
  outline: none;
}

textarea,input{
  outline: none;
}
