
$nav-width : 260px;

$nav-bg  : #292c30;
$nav-sub-bg : #23262a;
$nav-font-color : #c0bead;
$nav-font-sub-color : #b5b39b;

$header-height : 90px;
$header-bg : #fff;


$honey-wrap-min-height : 1000px;
$honey-wrap-margin : 20px;
$honey-inner-padding : 25px;

