<style type="text/css">

    html,body{
        background: #fff;
    }

</style>


<section class="text-center">
<div class="ib">

    <table class="table table-bordered table-striped table-hover ">

    <thead>
        <tr>
            <th>#</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Username</th>
        </tr>
    </thead>

    <tbody>

        <tr>
            <th scope="row">1</th>
            <td>Mark</td>
            <td>Otto</td>
            <td>@mdo</td>
        </tr>

        <tr>
            <th scope="row">2</th>
            <td>Jacob</td>
            <td>Thornton</td>
            <td>@fat</td>
        </tr>

        <tr>
            <th scope="row">3</th>
            <td>Larry</td>
            <td>the Bird</td>
            <td>@twitter</td>
        </tr>
    </tbody>
</table>
</div>



    <!-- 单选 -->
    <div class="ib">

        <pretty-radio value="'one'" ng-model="myModel.radio" label="'This is one'"></pretty-radio>
        <pretty-radio value="'two'" ng-model="myModel.radio" label="'This is two'"></pretty-radio>
        <pretty-radio value="'three'" ng-model="myModel.radio" label="'This is three'"></pretty-radio>

    </div>
</section>
